.landing-wrapper {
    background-image: linear-gradient(rgba(93, 93, 172, 1) 80%, rgba(0, 0, 0, 0)); 
    /* background: rgb(93, 93, 172); */
}

.space {
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(black, rgba(136, 148, 164, 0));
    z-index: 3; 
}

.content-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 40px;
}

.right {
    text-align: right;
    margin: 140px auto;
}

h1 {
    font-size: 35px;
    font-family: cursive;
    color: white;
}

p {
    color: white;
    font-family: cursive;
    font-size: 20px;
    line-height: 25px;
}

.landing-image {
    height: 100%;
    -webkit-mask-image:-webkit-gradient(linear, center bottom, center top, color-stop(0%, rgba(0,0,0,0)), color-stop(5%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0, 0)));
}


.landing-content {
    position: relative;
}


.image-two {
    -webkit-mask-image:-webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(30%, rgba(0,0,0, 1)));
}

form {
    background-image: url("../images/wood.jpg");
}

form {
    max-width: 650px;
    text-align: center;
}

input, select, textarea, label {
    margin: 30px auto; 
    max-width: 100%;
    width: 90%;
    text-align: left;
}

.form-input {
    margin: 10px auto;
    border-top: none;
    border-left: none; 
    border-right: none;
    border-bottom: 1.5px solid black;
    background: none;
    font-size: larger;
}

label {
    margin: 15px 0 -15px;
    color: black;
    text-align: left;
}
@media only screen and (min-width: 576px) {
    h1 {
        font-size: 55px;
    }

    p {
        font-size: 27px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 65px;
    }

    p {
        font-size: 32px;
        line-height: 37px;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 85px;
    }

    p {
        font-size: 32px;
        line-height: 37px;
    }
}